


<div id= "content">

<div id = "quiz">
<!-- 1 -->
  <div id="question">
    <label for="question1">Why is it unacceptable to bring in a cake shaped weird, even if no one knows its a  hand-job? </label>
    <div class="field" id="answers" >
      <div class="ui radio checkbox">
        <input type="radio" name="question1" tabindex="0" class="hidden">
        <label>The cake was left in a communal food area with no instructions as to who’s allowed to eat it  </label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="question1" tabindex="0" class="hidden">
        <label>The frosting got stuck to the lid and sadly most of the hand-job was destroyed  </label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="question1" tabindex="0" class="hidden">
        <label>Anything suggestive creates a sexually charged atmosphere   </label>
      </div>
    </div>
  </div>
<!-- 2 -->
  <div id="question">
    <label for="question2">Why is encroachment not okay?</label>
    <div class="field" id="answers" >
      <div class="ui radio checkbox">
        <input type="radio" name="question2" tabindex="0" class="hidden">
        <label>There’s not enough for everyone</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="question2" tabindex="0" class="hidden">
        <label>Your aura is too magnetic       </label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="question2" tabindex="0" class="hidden">
        <label>Even if you’re not touching, when you invade someone’s personal space it makes them feel uncomfortable and possibly even violated</label>
      </div>
    </div>
  </div>
<!-- 3 -->
  <div id="question">
    <label for="question3">Why is suggesting to Dawn the drawing is of a labia on a paper towel bad even if she’s cool with it?  </label>
    <div class="field" id="answers" >
      <div class="ui radio checkbox">
        <input type="radio" name="question3" tabindex="0" class="hidden">
        <label>Dawn wanted to discover the labia picture on her own </label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="question3" tabindex="0" class="hidden">
        <label>Dish towels find paper towels offensive  </label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="question3" tabindex="0" class="hidden">
        <label>You also need to consider other people in the office.  If one person is okay with it, another still might find it offensive.  And sometimes they’re too uncomfortable to say anything.  So as a rule, sexual imagery is off-limits.</label>
      </div>
    </div>
  </div>
<!-- 4 -->
  <div id="question">
    <label for="question4">When is whistling considered sexual harassment?  </label>
    <div class="field" id="answers" >
      <div class="ui radio checkbox">
        <input type="radio" name="question4" tabindex="0" class="hidden">
        <label>Nightfall   </label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="question4" tabindex="0" class="hidden">
        <label>When accompanied by the banjo </label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="question4" tabindex="0" class="hidden">
        <label>When it draws attention to someone’s physique or a compromising pose.  </label>
      </div>
    </div>
  </div>
<!-- 5 -->
  <div id="question">
    <label for="question5">Why is not okay to say the word “tits” inside the office? </label>
    <div class="field" id="answers" >
      <div class="ui radio checkbox">
        <input type="radio" name="question5" tabindex="0" class="hidden">
        <label>Because people outside the office are unable to hear the word “tits”    </label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="question5" tabindex="0" class="hidden">
        <label>Some people can’t drink milk       </label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="question5" tabindex="0" class="hidden">
        <label>It’s a slang term that objectifies women</label>
      </div>
    </div>
  </div>

  <div id="question">
    <label for="question6">Why isn’t it okay for Jude to reference an “HJ” when he’s clearly joking? </label>
    <div class="field" id="answers" >
      <div class="ui radio checkbox">
        <input type="radio" name="question6" tabindex="0" class="hidden">
        <label>Hand-jobs are no laughing matter </label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="question6" tabindex="0" class="hidden">
        <label>Some cultures don’t know that it means</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="question6" tabindex="0" class="hidden">
        <label>Because it’s not how the comment is intended, but how it’s received.  And there’s too high of a chance someone will be rubbed the wrong way.  </label>
      </div>
    </div>
  </div>

  <div>
        <button class="ui basic large button" id= "quizSubmit">
        Submit
      </button>
  </div>



</div>


</div>